importing libraries

In [1]:
import pymongo
import pandas as pd 
import numpy as np
from pprint import pprint

MongoDB Atllas connection

In [2]:
atlas = pymongo.MongoClient("mongodb+srv://koushik_mongo_atlas:mongokoushik@mongoatlascluster.l6ptnvm.mongodb.net/?retryWrites=true&w=majority")
db = atlas['sample_airbnb']
collection = db['listingsAndReviews']

collection's single document

In [3]:
#  to view the first document in the collection
collection.find_one({})

{'_id': '10096773',
 'listing_url': 'https://www.airbnb.com/rooms/10096773',
 'name': 'Easy 1 Bedroom in Chelsea',
 'summary': "A comfortable one bedroom for responsible guests. Plenty of natural light. Walk up building. You'll feel like a local staying in this residential neighborhood, right next to great food, bars, subways, the High Line, Chelsea Piers, etc.",
 'space': "*I listed this place late so can be flexible for you. I'm quick to respond - contact me and let's discuss whether we can make something work for you asap* Sorry about the lack of pictures. Will link you to Streeteasy when you reply. There is a small (regular for NYC) bedroom, a living room with couches and a TV (with apple tv but only basic cable), a kitchen, and a bathroom. It is in a walk up building a couple of flights up. Need relatively quiet guests for this residential building - definitely not a place for your weekend party.",
 'description': "A comfortable one bedroom for responsible guests. Plenty of natural light. Walk up building. You'll feel like a local staying in this residential neighborhood, right next to great food, bars, subways, the High Line, Chelsea Piers, etc. *I listed this place late so can be flexible for you. I'm quick to respond - contact me and let's discuss whether we can make something work for you asap* Sorry about the lack of pictures. Will link you to Streeteasy when you reply. There is a small (regular for NYC) bedroom, a living room with couches and a TV (with apple tv but only basic cable), a kitchen, and a bathroom. It is in a walk up building a couple of flights up. Need relatively quiet guests for this residential building - definitely not a place for your weekend party. I am available to help you any time and will provide a cell # for questions. When I let you in, I'll also be able to answer any questions and point you to restaurants and local attractions. Chelsea is considered a high end nei",
 'neighborhood_overview': 'Chelsea is considered a high end neighborhood in NYC.  (URL HIDDEN)',
 'notes': '',
 'transit': '',
 'access': '',
 'interaction': "I am available to help you any time and will provide a cell # for questions. When I let you in, I'll also be able to answer any questions and point you to restaurants and local attractions.",
 'house_rules': 'This is my "real" apartment not one of those places that is constantly airbnb\'d. Feel free to use the appliances or even pour yourself a drink at the bar but guests will need to be respectful of all of the things in the apartment which are not yours and also to the neighbors.',
 'property_type': 'Apartment',
 'room_type': 'Entire home/apt',
 'bed_type': 'Real Bed',
 'minimum_nights': '2',
 'maximum_nights': '1125',
 'cancellation_policy': 'flexible',
 'last_scraped': datetime.datetime(2019, 3, 6, 5, 0),
 'calendar_last_scraped': datetime.datetime(2019, 3, 6, 5, 0),
 'first_review': datetime.datetime(2016, 1, 3, 5, 0),
 'last_review': datetime.datetime(2016, 1, 3, 5, 0),
 'accommodates': 2,
 'bedrooms': 1,
 'beds': 1,
 'number_of_reviews': 1,
 'bathrooms': Decimal128('1.0'),
 'amenities': ['TV',
  'Internet',
  'Wifi',
  'Kitchen',
  'Heating',
  'Smoke detector',
  'Carbon monoxide detector',
  'Fire extinguisher',
  'Essentials'],
 'price': Decimal128('145.00'),
 'weekly_price': Decimal128('1000.00'),
 'cleaning_fee': Decimal128('60.00'),
 'extra_people': Decimal128('0.00'),
 'guests_included': Decimal128('1'),
 'images': {'thumbnail_url': '',
  'medium_url': '',
  'picture_url': 'https://a0.muscache.com/im/pictures/ceb6e8b2-d006-4f1f-b0c4-001e48de11db.jpg?aki_policy=large',
  'xl_picture_url': ''},
 'host': {'host_id': '34607505',
  'host_url': 'https://www.airbnb.com/users/show/34607505',
  'host_name': 'Scott',
  'host_location': 'New York, New York, United States',
  'host_about': 'I am pretty much your average early/mid career working professional in NYC.',
  'host_thumbnail_url': 'https://a0.muscache.com/im/pictures/675cec89-71eb-4ca7-bacd-bbed62ef6fad.jpg?aki_policy=profile_small',
  'host_picture_url': 'https://a0.muscache.com/im/pictures/675cec89-71eb-4ca7-bacd-bbed62ef6fad.jpg?aki_policy=profile_x_medium',
  'host_neighbourhood': 'Chelsea',
  'host_is_superhost': False,
  'host_has_profile_pic': True,
  'host_identity_verified': True,
  'host_listings_count': 1,
  'host_total_listings_count': 1,
  'host_verifications': ['email', 'phone', 'facebook', 'reviews', 'kba']},
 'address': {'street': 'New York, NY, United States',
  'suburb': 'Manhattan',
  'government_area': 'Chelsea',
  'market': 'New York',
  'country': 'United States',
  'country_code': 'US',
  'location': {'type': 'Point',
   'coordinates': [-74.00074, 40.74577],
   'is_location_exact': True}},
 'availability': {'availability_30': 0,
  'availability_60': 0,
  'availability_90': 0,
  'availability_365': 0},
 'review_scores': {'review_scores_accuracy': 10,
  'review_scores_cleanliness': 10,
  'review_scores_checkin': 10,
  'review_scores_communication': 10,
  'review_scores_location': 10,
  'review_scores_value': 10,
  'review_scores_rating': 100},
 'reviews': [{'_id': '58692890',
   'date': datetime.datetime(2016, 1, 3, 5, 0),
   'listing_id': '10096773',
   'reviewer_id': '32593951',
   'reviewer_name': 'Fabian',
   'comments': 'Scott place was great. It was clean and very spacious.  It was an easy check in and check out process.  I highly recommend it.  \r\n'}]}

Retriving selected information from the collection

In [4]:
airbnb_data = []
for i in collection.find():
    data = dict(Id = i['_id'],
                Name = i.get('name'),
                Property_type = i['property_type'],
                Room_type = i['room_type'],
                Bed_type = i['bed_type'],
                Minimum_nights = int(i['minimum_nights']),
                Maximum_nights = int(i['maximum_nights']),
                Cancellation_policy = i['cancellation_policy'],
                Accomodates = i['accommodates'],
                Price = i['price'],
                Cleaning_fee = i.get('cleaning_fee'),
                Extra_people = i['extra_people'],
                Guests_included= i['guests_included'],
                Security_deposit = i.get('security_deposit'),
                No_of_reviews = i['number_of_reviews'],
                
                Host_id = i['host']['host_id'],
                Host_name = i['host']['host_name'],
                Host_neighbourhood = i['host'].get('host_neighbourhood'),
                Host_response_time = i['host'].get('host_response_time'),
                Host_identity_verified = i['host']['host_identity_verified'],
                
                Country = i['address']['country'],
                Country_code = i['address']['country_code'],
                Longitude = i['address']['location']['coordinates'][0],
                Latitude = i['address']['location']['coordinates'][1],
                Is_location_exact = i['address']['location']['is_location_exact'],

                Availability_30 = i['availability']['availability_30'],
                Availability_60 = i['availability']['availability_60'],
                Availability_90 = i['availability']['availability_90'],   
                Availability_365 = i['availability']['availability_365'],

                Review_scores_cleanliness = i['review_scores'].get('review_scores_cleanliness'),
                Review_scores_location = i['review_scores'].get('review_scores_location'),
                Review_scores_communication = i['review_scores'].get('review_scores_communication'),
                Review_scores_rating = i['review_scores'].get('review_scores_rating'))

    airbnb_data.append(data)

In [5]:
df = pd.DataFrame(airbnb_data)

Data cleaning and preprocessing

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           5555 non-null   object
 1   Name                         5555 non-null   object
 2   Property_type                5555 non-null   object
 3   Room_type                    5555 non-null   object
 4   Bed_type                     5555 non-null   object
 5   Minimum_nights               5555 non-null   int64
 6   Maximum_nights               5555 non-null   int64
 7   Cancellation_policy          5555 non-null   object
 8   Accomodates                  5555 non-null   int64
 9   Price                        5555 non-null   object
 10  Cleaning_fee                 4024 non-null   object
 11  Extra_people                 5555 non-null   object
 12  Guests_included              5555 non-null   object
 13  Security_deposit             3471 non-null   object
 14  No_of_reviews                5555 non-null   int64
 15  Host_id                      5555 non-null   object
 16  Host_name                    5555 non-null   object
 17  Host_neighbourhood           5555 non-null   object
 18  Host_response_time           4167 non-null   object
 19  Host_identity_verified       5555 non-null   bool
 20  Country                      5555 non-null   object
 21  Country_code                 5555 non-null   object
 22  Longitude                    5555 non-null   float64
 23  Latitude                     5555 non-null   float64
 24  Is_location_exact            5555 non-null   bool
 25  Availability_30              5555 non-null   int64
 26  Availability_60              5555 non-null   int64
 27  Availability_90              5555 non-null   int64
 28  Availability_365             5555 non-null   int64
 29  Review_scores_cleanliness    4082 non-null   float64
 30  Review_scores_location       4081 non-null   float64
 31  Review_scores_communication  4081 non-null   float64
 32  Review_scores_rating         4081 non-null   float64
dtypes: bool(2), float64(6), int64(8), object(17)
memory usage: 1.3+ MB

In [7]:
df.isnull().sum()

Id                                0
Name                              0
Property_type                     0
Room_type                         0
Bed_type                          0
Minimum_nights                    0
Maximum_nights                    0
Cancellation_policy               0
Accomodates                       0
Price                             0
Cleaning_fee                   1531
Extra_people                      0
Guests_included                   0
Security_deposit               2084
No_of_reviews                     0
Host_id                           0
Host_name                         0
Host_neighbourhood                0
Host_response_time             1388
Host_identity_verified            0
Country                           0
Country_code                      0
Longitude                         0
Latitude                          0
Is_location_exact                 0
Availability_30                   0
Availability_60                   0
Availability_90                   0
Availability_365                  0
Review_scores_cleanliness      1473
Review_scores_location         1474
Review_scores_communication    1474
Review_scores_rating           1474
dtype: int64

In [8]:
df['Cleaning_fee'] = df['Cleaning_fee'].fillna(df['Cleaning_fee'].mode()[0])
df['Security_deposit'] = df['Security_deposit'].fillna(df.Security_deposit.mode()[0])

df['Host_response_time'] = df['Host_response_time'].fillna('Not Mentioned')
df['Host_neighbourhood'] = df['Host_neighbourhood'].replace({'':'Not Mentioned'})

df['Review_scores_cleanliness'] = df['Review_scores_cleanliness'].fillna(df['Review_scores_cleanliness'].median())
df['Review_scores_communication'] = df['Review_scores_communication'].fillna(df['Review_scores_communication'].median())
df['Review_scores_location'] = df['Review_scores_location'].fillna(df['Review_scores_location'].median())
df['Review_scores_rating'] = df['Review_scores_rating'].fillna(df['Review_scores_rating'].median())

In [9]:
df['Host_identity_verified'] = df['Host_identity_verified'].replace({True:'Yes', False:'No'})
df['Is_location_exact'] = df['Is_location_exact'].replace({True:'Yes', False:'No'})

In [10]:
df.isnull().sum()

Id                             0
Name                           0
Property_type                  0
Room_type                      0
Bed_type                       0
Minimum_nights                 0
Maximum_nights                 0
Cancellation_policy            0
Accomodates                    0
Price                          0
Cleaning_fee                   0
Extra_people                   0
Guests_included                0
Security_deposit               0
No_of_reviews                  0
Host_id                        0
Host_name                      0
Host_neighbourhood             0
Host_response_time             0
Host_identity_verified         0
Country                        0
Country_code                   0
Longitude                      0
Latitude                       0
Is_location_exact              0
Availability_30                0
Availability_60                0
Availability_90                0
Availability_365               0
Review_scores_cleanliness      0
Review_scores_location         0
Review_scores_communication    0
Review_scores_rating           0
dtype: int64

In [11]:
df['Minimum_nights'] = df['Minimum_nights'].astype(int)
df['Maximum_nights'] = df['Maximum_nights'].astype(int)
df['Accomodates'] = df['Accomodates'].astype(str)

#  converting these below columns using pd.to_numeric with errors parameter changes most of its values into null
# this was because the dtype in thes columns were - Decimal128 - which is considered as non integer type
# so to overcome first change Decimal128 type to float then to int

df['Price'] = df['Price'].astype(str).astype(float).astype(int)

# if these two columns were tried to change directly into float it shows error 
# TypeError : float() argument must be a string or a real number, not 'Decimal128'
# so to first first convert into string then into any numeric type
df['Extra_people'] = df['Extra_people'].astype(str).astype(float).astype(int)
df['Guests_included'] = df['Guests_included'].astype(str).astype(int)

df['Review_scores_cleanliness'] = df['Review_scores_cleanliness'].astype(int)
df['Review_scores_location'] = df['Review_scores_location'].astype(int)
df['Review_scores_rating'] = df['Review_scores_rating'].astype(int)
df['Review_scores_communication'] = df['Review_scores_communication'].astype(int)

In [12]:
df.Security_deposit = df.Security_deposit[~df.Security_deposit.isna()].astype(str).astype(float).astype(int)
df.Cleaning_fee = df.Cleaning_fee[~df.Cleaning_fee.isna()].astype(str).astype(float).astype(int)

In [13]:
df.duplicated().sum()

0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           5555 non-null   object
 1   Name                         5555 non-null   object
 2   Property_type                5555 non-null   object
 3   Room_type                    5555 non-null   object
 4   Bed_type                     5555 non-null   object
 5   Minimum_nights               5555 non-null   int32
 6   Maximum_nights               5555 non-null   int32
 7   Cancellation_policy          5555 non-null   object
 8   Accomodates                  5555 non-null   object
 9   Price                        5555 non-null   int32
 10  Cleaning_fee                 5555 non-null   int32
 11  Extra_people                 5555 non-null   int32
 12  Guests_included              5555 non-null   int32
 13  Security_deposit             5555 non-null   int32
 14  No_of_reviews                5555 non-null   int64
 15  Host_id                      5555 non-null   object
 16  Host_name                    5555 non-null   object
 17  Host_neighbourhood           5555 non-null   object
 18  Host_response_time           5555 non-null   object
 19  Host_identity_verified       5555 non-null   object
 20  Country                      5555 non-null   object
 21  Country_code                 5555 non-null   object
 22  Longitude                    5555 non-null   float64
 23  Latitude                     5555 non-null   float64
 24  Is_location_exact            5555 non-null   object
 25  Availability_30              5555 non-null   int64
 26  Availability_60              5555 non-null   int64
 27  Availability_90              5555 non-null   int64
 28  Availability_365             5555 non-null   int64
 29  Review_scores_cleanliness    5555 non-null   int32
 30  Review_scores_location       5555 non-null   int32
 31  Review_scores_communication  5555 non-null   int32
 32  Review_scores_rating         5555 non-null   int32
dtypes: float64(2), int32(11), int64(5), object(15)
memory usage: 1.2+ MB

In [15]:
df.describe()

,Minimum_nights,Maximum_nights,Price,Cleaning_fee,Extra_people,Guests_included,Security_deposit,No_of_reviews,Longitude,Latitude,Availability_30,Availability_60,Availability_90,Availability_365,Review_scores_cleanliness,Review_scores_location,Review_scores_communication,Review_scores_rating
count,5555.000000,5.555000e+03,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000
mean,5.564356,1.382776e+06,278.766157,68.147075,22.791899,1.747435,318.313771,27.606481,-6.623240,22.061230,11.816202,26.451305,42.758056,173.105671,9.496850,9.706931,9.771017,93.603600
std,22.613861,5.256920e+07,842.215531,102.782629,69.331511,1.487352,1284.484759,49.798376,90.525974,28.092112,11.686113,23.476011,35.226897,139.841893,0.980793,0.673978,0.704522,7.779357
min,1.000000,1.000000e+00,9.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-159.678690,-34.088290,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,20.000000
25%,1.000000,5.900000e+01,70.000000,0.000000,0.000000,1.000000,0.000000,1.000000,-73.599530,20.724390,0.000000,0.000000,0.000000,17.000000,9.000000,10.000000,10.000000,93.000000
50%,2.000000,1.125000e+03,129.000000,30.000000,0.000000,1.000000,0.000000,5.000000,-8.611420,40.727130,8.000000,23.000000,43.000000,171.000000,10.000000,10.000000,10.000000,95.000000
75%,3.000000,1.125000e+03,280.000000,100.000000,20.000000,2.000000,250.000000,32.000000,29.019605,41.162755,24.000000,52.000000,80.000000,317.000000,10.000000,10.000000,10.000000,98.000000
max,1250.000000,2.147484e+09,48842.000000,2000.000000,2346.000000,16.000000,39228.000000,533.000000,151.338980,45.665630,30.000000,60.000000,90.000000,365.000000,10.000000,10.000000,10.000000,100.000000

converting dataframe into csv file

In [17]:
df.to_csv("D:\\Airbnb Dataset\\airbnb_data.csv", index=False)